// App-specific variables defined in core (uncomment to use)
// =========================
// $profile_badgesTab_badgeDateEarnedTextColor: ;

// $profile_proxiesTab_highlightedPaxBgColor: ;

// $profilePage_editAvatarColor: ;
// $profilePage_editAvatarBkg: ;

// $profilePage_avatarSize: ;

// App SCSS from core (above variables override those in this file)
// =========================
@import "profile/scss/profile";

// Partial-specific variables for this skin
// =========================

// App-specific code for this skin
// ==================================================
.profileQuestionWrapper {
	#personalInformationFieldsetAnswers {
		.answerField {
			width: 100%;
		}
		.likeWrap {
			i {
				color: $brand_color_link;
				margin-right:5px;
			}
			span {
				margin-right:5px;
			}
		}		
	}
	.likeAndCommentsWrapper {
		i {
			color: $brand_color_link;
			margin-right:5px;
		}
		span {
			margin-right:5px;
		}
		.commentInputWrapper {
			padding-top:10px !important;
		}
	}
}
